* {
    border: none;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    min-height: 30px;
    /* Padding seems to be the transparent gap at the bottom rather than internal padding */
    padding-bottom: 0px;
}

window#waybar {
    color: #0d0603;
    border-bottom: none;
    background: rgba(255, 255, 255, 0.7);
}

#window {
    transition: none;
    padding: 0 20px;
    background: #efefef;
    background: rgba(255, 255, 255, 0.7);
}

window#waybar.empty #window {
    background: transparent;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
    color: #efefef;
    background: #d9dbde;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
    color: #292b2e;
    background: #efefef;
}
#custom-right-arrow-cap,
#custom-left-arrow-cap {
    font-size: 16px;
    color: #efefef;
    background: transparent;
}

#workspaces button {
    padding: 0 2px;
    color: #0d0613;
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -2px transparent; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: #bbbbbb;
    border: #bbbbbb;
    color: #000000;
    box-shadow: inset 0 -3px #000000;
}

#workspaces button.focused {
    background-color: #44424D;
    color: #cccccc;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces {
    background: rgba(205, 205, 205, 0.7);
}

#tags {
    font-size: 3px;
    background: #161320;
    transition: none;
}

#tags button {
    transition: none;
    color: #B5E8E0;
    background: transparent;
    font-size: 16px;
}

#tags button.occupied {
    transition: none;
    color: #F28FAD;
    background: transparent;
    font-size: 3px;
}

#tags button.focused {
    color: #ABE9B3;
    border-top: 2px solid #ABE9B3;
    border-bottom: 2px solid #ABE9B3;
}

#tags button:hover {
    transition: none;
    box-shadow: inherit;
    text-shadow: inherit;
    color: #FAE3B0;
    border-color: #E8A2AF;
    color: #E8A2AF;
}

#tags button.focused:hover {
    color: #E8A2AF;
}

#network,
#temperature,
#pulseaudio,
#battery,
#backlight,
#clock,
#memory,
#cpu,
#idle_inhibitor,
#custom-online-monitor,
#custom-toggletheme,
#custom-launcher,
#custom-notification,
#custom-power,
#custom-wallpaper,
#custom-updates,
#custom-media,
#tray {
    background: #efefef;
    padding: 0 10px;
    border-left: #262626;
}


#network {
    color: #342647;
}

#temperature {
    color: #5c401b;
}

#pulseaudio {
    color: #6b624d;
}

#battery {
    color: #3c4f4c;
}

#battery.charging, #battery.plugged {
    color: #3c4f4c;
}

#battery.critical:not(.charging) {
    color: #701523;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#backlight {
    color: #5e4839;
}

#clock {
    color: #394d3c;
}

#memory {
    color: #5f4e69;
}

#cpu {
    color: #263440;
}

#idle_inhibitor {
    padding: 0 16px 0 8px;
    color: #4f4f47;
}

#idle_inhibitor.activated {
    color: #9c9e18;
}

#custom-online-monitor {
    padding: 0 8px 0 6px;
}

#custom-toggletheme {
    padding: 0 8px 0 6px;
    color: #4a4811;
}

#custom-launcher {
    color: #2b2b2a;
}

#custom-power {
    color: #382228;
}

#custom-notification {
    color: #382228;
    font-family: "NotoSansMono Nerd Font";
}

#custom-wallpaper {
    color: #393a47;
}

#custom-updates {
    color: #3d2b2e;
}

#custom-media {
    color: #362e2e;
}
